<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body >
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <h1> lista view</h1>

        
    </div>
</body>
</html>