<!DOCTYPE html>
<%- include('../template/header') %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <h1 class="h1 text-end"><%= title %></h1>
        <div class="row">
            <div class="card bg-primary m-2" style="width: 250px; height: 250px;">

            </div>
            <div class="card bg-success m-2" style="width: 250px; height: 250px;">

            </div>
            <div class="card bg-warning m-2" style="width: 250px; height: 250px;">

            </div>

        </div>
    </div>  
</body>
</html>