<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body>
    <div class="container div-login">
        <div class="card col-6 card-login shadow">
            <div class="body ">
                <div class="img-login">
                    <img src="/assets/img/logo-png-completo.png" alt="logo-appsfly" height="350px">
                </div>                
                <form action="/" method="post">
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control form-control-sm" name="userName" placeholder="email@email.cl" required>
                        <label for="cotizadorOrigen">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-control-sm" name="userPassword" placeholder="email@email.cl" required>
                        <label for="cotizadorOrigen">Contraseña</label>
                    </div>
                    <hr>
                    <div class="mt-2 mb-2">
                        <button type="submit" class="btn btn-primary w-100 m-1">Iniciar Sesión</button>
                        <a class="btn btn-outline-secondary w-100 m-1" href="/nuevo-usuario">Registrarme</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>