body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f7f7;    
    padding-top: 56px; /* Ajusta este valor según la altura de tu navbar */
}

.table-quoter-detail td{
    padding: 0px;
    margin: 0px;
}

.table-quoter-detail input{
    border: 0px solid white;
    width: 100PX;
}

.styles-totales{
    background-color:whitesmoke;
}
