<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body style="padding: 0px;">
    <div class="container">
        <div class="card shadow mx-auto mt-2" style="width: 550px;">
            <div class="card-header bg-primary text-white p-2">
                <h1 class="h4 text-center p-0 m-0"><%= title %></h1>
            </div>
            <div class="card-body ">
                <form action="/usuarios/nuevo-usuario" method="post">
                    <div class="form-floating mb-2">
                        <input type="number" value="" class="form-control form-control-sm" name="userID" id="userID" placeholder="Nombre" required>
                        <label for="userID">UsuarioID</label>                       
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" value="" class="form-control form-control-sm" name="userFirstName" id="userFirstName" placeholder="Nombre" required>
                        <label for="userFirstName">Nombre</label>                       
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-control-sm" name="userLastName" id="userLastName" placeholder="Nombre" required>
                        <label for="userLastName">Apellido</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-control-sm" name="userDocumentNumber" id="userDocumentNumber" placeholder="12345678-9" required>
                        <label for="userDocumentNumber">RUN</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control form-control-sm" name="userEmail" id="userEmail" placeholder="email@email.cl" required>
                        <label for="userEmail">Correo Electrónico</label>
                        <small id="emailExistsTrue" class="text-danger"></small>
                    </div>
                    <div class="form-floating mb-2">
                        <select class="form-control form-control-sm" id="userDepartment" name="userDepartment" required>
                            <option value="" disabled selected>Seleccione area del trabajador</option>                          
                            <option value="d1">Administración</option>
                            <option value="d2">Operaciones</option>
                            <option value="d3">Flota</option>
                        </select>
                        <label for="userDepartment">Departamento</label>
                    </div>
                    <div class="form-floating mb-2" hidden >
                        <select class="form-control form-control-sm" value="r0" name="userRol" required>
                            <option value="r0">sin asignación</option>
                            <option value="r1">Administrador</option>
                            <option value="r2">SuperAdmin</option>
                            <option value="r3">General</option>
                        </select>
                        <label for="userDepartment">Rol</label>
                    </div>
                    <div class="form-floating mb-2" hidden >
                        <select class="form-control form-control-sm" value="s1" name="userStatus" required>
                            <option value="s1">pendiente</option>
                            <option value="s2">activo</option>
                            <option value="s3">deshabilitado</option>
                        </select>
                        <label for="userDepartment">Status</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-control-sm" name="userPassword" id="userPassword" placeholder="email@email.cl" required>
                        <label for="userPassword">Contraseña </label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-control-sm" name="userPasswordConfirmation" id="userPasswordConfirmation" placeholder="email@email.cl" required>
                        <label for="userPasswordConfirmation">Confirmar Contraseña</label>
                    </div>
                    <div>
                        <small id="passwordDistinto" class="text-danger"></small>
                    </div>


                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="termsCheckbox" required>
                        <label class="form-check-label" for="termsCheckbox">
                            <small>Acepto los <a href="#">términos y condiciones</a></small>
                        </label>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-outline-secondary" href="/" style="width: 100px;">Cancelar</a>
                        <button type="submit" id="btnForm" class="btn btn-primary" style="width: 100px;" >Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // data de los usuarios 
        const users = <%- JSON.stringify(users) %>;

        // se selecciona el input mail
        const userEmail = document.querySelector('#userEmail');

        // seleccion del small para mostrar la alert en los email
        const emailExistsTrue = document.querySelector('#emailExistsTrue');

        // agrupa todos los mail de los usuarios
        const emails = users.map((user)=>{ return user.userEmail});

        // valida si esta registrado el correo, devuelve true o false    

        const btnForm = document.querySelector('#btnForm');

        //input password y passwordConfirmation 
        const userPassword = document.querySelector('#userPassword');
        const userPasswordConfirmation = document.querySelector('#userPasswordConfirmation');

        // seleccion del small para mostrar la alert en los password
        let passwordExistsTrue = document.querySelector('#passwordDistinto');

        // valida si el email exite y lo muestra en el <small> emailExistsTrue
        function emailExists(){
            let emailInlude = emails.includes(userEmail.value.toLowerCase());
            if(emailInlude){
                emailExistsTrue.innerHTML = 'correo electrónico registrado';
                btnForm.disabled = true;
            }else{
                emailExistsTrue.innerHTML = '';             
                if(userPassword.value == userPasswordConfirmation.value){
                    btnForm.disabled = false;
                }else{
                    btnForm.disabled = true;
                }
            }
        }        

        function passwordConfirmationF(){
            if(userPassword.value == userPasswordConfirmation.value){
                passwordExistsTrue.innerHTML = '';
                let emailInlude = emails.includes(userEmail.value.toLowerCase());
                
                if(!emailInlude && userEmail.value ){
                    console.log(userEmail.value)
                    btnForm.disabled = false;
                }else{
                    btnForm.disabled = true;
                }
            }else{
                if(userPasswordConfirmation.value){
                    passwordExistsTrue.innerHTML = 'Las contraseña no coinciden';
                    btnForm.disabled = true;
                };
                btnForm.disabled= true;
                console.log('oka')
            };
        };
        userEmail.addEventListener('input', emailExists);
        userPassword.addEventListener('input', passwordConfirmationF)
        userPasswordConfirmation.addEventListener('input', passwordConfirmationF)
    </script>    
</body>
</html>