<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body style="padding: 0px;">
    <div class="container">
        <div class="card shadow mx-auto mt-2" style="width: 550px;">
            <div class="card-header bg-primary text-white p-2">
                <h1 class="h4 text-center p-0 m-0"><%= title %></h1>
            </div>
            <div class="card-body ">
                <form action="/usuarios/nuevo-usuario" method="post">
                    <div class="form-floating mb-2">
                        <input type="number" value="" class="form-control form-control-sm" name="userID" id="userID" placeholder="Nombre" required>
                        <label for="userID">UsuarioID</label>                       
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" value="" class="form-control form-control-sm" name="userFirstName" id="userFirstName" placeholder="Nombre" required>
                        <label for="userFirstName">Nombre</label>                       
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-control-sm" name="userLastName" id="userLastName" placeholder="Nombre" required>
                        <label for="userLastName">Apellido</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" class="form-control form-control-sm" name="userDocumentNumber" id="userDocumentNumber" placeholder="12345678-9" required>
                        <label for="userDocumentNumber">RUN</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="email" class="form-control form-control-sm" name="userEmail" id="userEmail" placeholder="email@email.cl" required>
                        <label for="userEmail">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-2">
                        <select class="form-control form-control-sm" name="userDepartment" required>
                            <option value="" disabled selected>Seleccione area del trabajador</option>                          
                            <option value="d1">Administración</option>
                            <option value="d2">Operaciones</option>
                            <option value="d3">Flota</option>
                        </select>
                        <label for="userDepartment">Departamento</label>
                    </div>
                    <div class="form-floating mb-2" hidden >
                        <select class="form-control form-control-sm" value="r0" name="userRol" required>
                            <option value="r0">sin asignación</option>
                            <option value="r1">Administrador</option>
                            <option value="r2">SuperAdmin</option>
                            <option value="r3">General</option>
                        </select>
                        <label for="userDepartment">Rol</label>
                    </div>
                    <div class="form-floating mb-2" hidden >
                        <select class="form-control form-control-sm" value="s0" name="userStatus" required>                        
                            <option value="s0">sin asignación</option>
                            <option value="s1">pendiente</option>
                            <option value="s2">activo</option>
                            <option value="s3">deshabilitado</option>
                        </select>
                        <label for="userDepartment">Status</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-control-sm" name="userPassword" id="userPassword" placeholder="email@email.cl" required>
                        <label for="userPassword">Contraseña </label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password" class="form-control form-control-sm" name="userPasswordConfirmation" id="userPasswordConfirmation" placeholder="email@email.cl" required>
                        <label for="userPasswordConfirmation">Confirmar Contraseña</label>
                    </div>


                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="termsCheckbox" required>
                        <label class="form-check-label" for="termsCheckbox">
                            <small>Acepto los <a href="#">términos y condiciones</a></small>
                        </label>
                    </div>
                    <div class="text-end">
                        <a class="btn btn-outline-secondary" href="/" style="width: 100px;">Cancelar</a>
                        <button type="submit" class="btn btn-primary" style="width: 100px;">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>    
        function formaterRUN(){
            const userDocumentNumber = document.querySelector('#userDocumentNumber');
            let runFormateado = ''
            let rutLimpio = ''
            return runFormateado;
        }
        userDocumentNumber.addEventListener('input', formaterRUN);
    </script>
</body>
</html>