<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div>
        <%= dataUser %>
    </div>
    <!-- <script src="/assets/js/fuctionServices.js"></script>  -->
</body>
</html>


