<!DOCTYPE html>
<%- include('../template/header', {title:title}) %>
<body>
    <%- include('../nav/nav', {title: title}) %>
    <div class="container">
        <div class="row row-title p-2">
            <div class="col-6">
                <a class="btn btn-success" href="/usuarios/nuevo-usuario"><b>+</b> Agregar</a>

            </div>
            <div class="col-6">
                <h1 class="h1 text-end"><%= title %></h1>
            </div>
        </div>
        <div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Status</th>
                        <th>Rol</th>
                        <th>Acciones</th>                     
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Alfredo Hurtado</td>
                        <td> activo </td>
                        <td> superAdmin</td>
                        <td> <button>ver</button></td>
                    </tr>
                    <tr>
                        <td>Felix Morillo</td>
                        <td>activo </td>
                        <td>Administrador</td>
                        <td><button>ver</button></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>  
</body>
</html>